@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-root);
    font-size: 1rem;
    line-height: 1.5;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
