@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-root);
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
