@layer components {
  .typography-h1 {
    font: 500 2.5rem/1.15 var(--font-family-root);
    letter-spacing: -1px;
  }
  .typography-h2 {
    font: 500 2rem/1.2 var(--font-family-root);
    letter-spacing: -0.5px;
    @media screen and (max-width: 767.99px) {
      letter-spacing: normal;
    }
  }
  .typography-h3 {
    font: 500 1.75rem/1.25 var(--font-family-root);
    letter-spacing: normal;
  }
  .typography-h4 {
    font: 500 1.25rem/1.3 var(--font-family-root);
    letter-spacing: normal;
  }
  .typography-subtitle {
    font: 500 0.875rem/1.5 var(--font-family-root);
    color: var(--muted-foreground);
  }
  .typography-subtitle2 {
    font: 500 0.75rem/1.5 var(--font-family-root);
    letter-spacing: 0.1px;
    color: var(--muted-foreground);
  }
  .typography-body1 {
    font: 500 0.875rem/1.5 var(--font-family-root);
    letter-spacing: -0.2px;
  }
  .typography-body2 {
    font: 400 0.75rem/1.6 var(--font-family-root);
    letter-spacing: -0.1px;
  }
  .typography-button {
    font: 700 0.8125rem/1 var(--font-family-root);
    letter-spacing: 0px;
  }
}
